{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}WebFile{%endblock%}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<script type="text/javascript">
	{% block customScript %}
	{% endblock %}
</script>
	
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">WebFile</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'homeFolder' %}">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <!-- checking if user is not logged in then show the buttons -->
      {% if user.is_authenticated %}
        <li><a href="{% url 'auth_logout' %}?next=/"><span class="glyphicon glyphicon-off"></span> Log Out</a></li>
       {% else %}
        <li><a href="{% url 'registration_register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="{% url 'auth_login' %}"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
      	{% endif %}

      </ul>	
    </div>
  </div>
</nav>

<div class="container">

<h3>Web File Explorer</h3>
{% block formBlock %}
{% endblock %}

{% block filfol %}
{% endblock %}


</div>


</body>
</html>

