{% extends 'base.html' %}


{% block filfol %}
<!-- for file explorer layout -->
<div class="row">
	  	
<!-- SIDEBAR BOOKMARKS -->
<div class="col-sm-2">
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Documents</a></li>
    <li><a href="#">Pictures</a></li>
    <li><a href="#">Videos</a></li>
    <li><a href="#">Music</a></li>
  </ul>
</div>
<!-- BOOKMARKS SIDEBAR ENDS -->

	  	
<!-- FILE MANAGER DIVISION-->
<div class="col-sm-10">


<!-- ROW FOR BREADCRUMBS -->
	<tr><td>
		<ol class="breadcrumb">
		  <li><a href="#">Home</a></li>
		  <li><a href="#">Documents</a></li>
		  <li class="active">Data</li>
		</ol>
	</td></tr>

<!-- ROW FOR BREADCRUMBS ENDS -->

<!-- TOOLBAR STARTS HERE -->

<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#toolBar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>                        
		      </button>
		    </div>
		    <div class="collapse navbar-collapse" id="toolBar">
		      <ul class="nav navbar-nav navbar-left">
		      <li><button class="btn btn-info navbar-btn" data-toggle="tooltip" title="Go Back" onclick="goBack()"><span class="glyphicon glyphicon-arrow-left"></span> Go Back</button></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">

		      <li>
		      	<!-- New Folder inline Form -->
		      	
		      	<form class="navbar-form" data-toggle="tooltip" title="Create New Folder" method="POST" action="{% url 'createFolder' %}">
		      		{% csrf_token %}
		      		<div class="form-group"><input type="text" class="form-control" placeholder="Enter Folder Name" id="folderName" name="folderName"></div>

		      		<div class="form-group"><input type="hidden" class="form-control" placeholder="Enter Folder Name" value="{{parentPath}}" id="folderPath" name="folderPath"></div>
		      		<button type="submit" class="btn btn-success" id="newFolderID"><span class="glyphicon glyphicon-folder-close"></span></button> 
		      	</form>
		      	</li>
		      	<li>
		      	<!-- New File inline Form -->
		      	
		      	<form class="navbar-form" data-toggle="tooltip" title="Create New File">
		      		{% csrf_token %}	
		      		<div class="form-group"><input type="text" class="form-control" placeholder="Enter File Name"></div>
		      		<button type="submit" class="btn btn-success" id="newFolderID" disabled="True"><span class="glyphicon glyphicon-file"></span></button> 
		      	</form>
		      	</li>
		      </ul>	
		    </div>
		  </div>
		</nav>

<!-- TOOLBAR ENDS HERE -->
	<table class="table table-bordered table-hover table-responsive">


		{% for x in d %}

		<tr>
		<td>
		<a href="{% url 'showDir' x%}">
			<button class="btn btn-default btn-warning">	<span class="glyphicon glyphicon-folder-open"> {{x}}	</span>	</button>
		</a>
		</td>
		<td>
						<!-- Single button -->
			<div class="btn-group float-right">
			  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    <span class="glyphicon glyphicon-menu-hamburger"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li><a href="#">Action</a></li>
			    <li><a href="#">Another action</a></li>
			    <li><a href="#">Something else here</a></li>
			    <li role="separator" class="divider"></li>
			    <li><a href="#">Separated link</a></li>
			  </ul>
			</div>
		</td>
		</tr>

		{% endfor %}
		{% for x in f %}

		<tr>
		<td>

			<button class="btn btn-default btn-primary"><span class="glyphicon glyphicon-file"> {{x}}	</span></button>

		</td>
		</tr>

		{% endfor %}
				
	</table>
</div>


</div>
<!-- end of file explorer layout -->

{% for x in temp %}

	<p>{{x}}</p>
{% endfor %}
{% endblock %}