{% extends 'base.html' %}


{% block filfol %}

<!-- for file explorer layout -->
<div class="row">

<!-- SIDEBAR BOOKMARKS -->
<div class="col-sm-2">
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Documents</a></li>
    <li><a href="#">Pictures</a></li>
    <li><a href="#">Videos</a></li>
    <li><a href="#">Music</a></li>
  </ul>
</div>
<!-- BOOKMARKS SIDEBAR ENDS -->


<!-- FILE MANAGER DIVISION-->
<div class="col-sm-10">


<!-- ROW FOR BREADCRUMBS -->
	<tr><td>
		<ol class="breadcrumb">
		  <li><a href="#">Home</a></li>
		  <li><a href="#">Documents</a></li>
		  <li class="active">Data</li>
		</ol>
	</td></tr>

<!-- ROW FOR BREADCRUMBS ENDS -->
<div id="fileManagerDiv">

</div>
<!-- end of file explorer layout -->



<!-- MODALS -->
<!-- New Folder MODAL -->
<div class="modal fade" id="newFolderModal" role="dialog">
	<div class="modal-dialog modal-sm">
		<!-- modal content -->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Create New Folder</h4>
			</div>
			<div class="modal-body">
				<form class="inline-form" method="POST" action="{% url 'createFolder' %}" role="form">
		      		{% csrf_token %}
		      		<div class="form-group"><input type="text" class="form-control" placeholder="Enter Folder Name" id="folderName" name="folderName"></div>

		      		<div class="form-group"><input type="hidden" class="form-control" placeholder="Enter Folder Name" value="{{parentPath}}" id="folderPath" name="folderPath"></div>
		      		<button type="submit" class="btn btn-success" id="newFolderID">Create</button>
		      	</form>
			</div>
		</div>
	</div>
</div>


<!-- New File MODAL -->
<div class="modal fade" id="newFileModal" role="dialog">
	<div class="modal-dialog modal-sm">
		<!-- modal content -->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Create New File</h4>
			</div>
			<div class="modal-body">
				<form class="form-inline" role="form">
		      		{% csrf_token %}
		      		<div class="form-group"><input type="text" class="form-control" placeholder="Enter File Name"></div>
		      		<button type="submit" class="btn btn-success" id="newFolderID" disabled="True">Create</button>
		      	</form>
			</div>
		</div>
	</div>
</div>


<!-- Rename MODAL -->
<div class="modal fade" id="renameModal" role="dialog">
	<div class="modal-dialog modal-sm">
		<!-- modal content -->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Rename File</h4>
			</div>
			<div class="modal-body">
				<form class="form" method="POST" action="">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Enter New Name">
					</div>
					<button class="btn btn-primary" type="submit">Rename</button>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- MODALS END HERE -->
{% endblock %}
